 <div class="login-form">
    <legend>Login</legend>
    <fieldset >
    	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    	  <div class="control-group">
    	  	<label class="control-label" >Email</label>
    	  	<div class="controls">
    	  		<%= f.text_field :email, :placeholder => 'Email', :class => '.input-large', required: "required"  %>
    	  	</div>
    	  </div>

    	  <div class="control-group">
    	  	<label class="control-label" >Password</label>
    	  	<div class="controls">
    	  		<%= f.password_field :password, :placeholder => 'Password', :class => '.input-large', required: "required"  %>
    	  	</div>
    	  </div>
    	  <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
    	<% end %>
    </fieldset>
</div>
